#
# Copyright 2009 Nexell.
#		http://www.nexell.co.kr
#
if ARCH_S5P6818

choice
	prompt "Memory max order"
	default S5P6818_MEM_MAX_ORDER_11

	config S5P6818_MEM_MAX_ORDER_11
		bool "4Mbyte"

	config S5P6818_MEM_MAX_ORDER_12
    	bool "8Mbyte"

	config S5P6818_MEM_MAX_ORDER_13
		bool "16Mbyte"

endchoice

config FORCE_MAX_ZONEORDER
   	int
   	default 11 if S5P6818_MEM_MAX_ORDER_11
   	default 12 if S5P6818_MEM_MAX_ORDER_12
   	default 13 if S5P6818_MEM_MAX_ORDER_13

endif

