#
# Copyright 2009 Nexell.
#
menu "SLsiAP s5p6818"

choice
	prompt "Prototype build mode"
	default S5P6818_PROTO_RELEASE

	config S5P6818_PROTO_RELEASE
		bool "Release"

	config S5P6818_PROTO_DEBUG
		bool "Debug"
endchoice

config S5P6818_PM_IDLE
	bool "Goto idle when Suspend"
	depends on SUSPEND
	default n

source "drivers/platform/nexell/s5p6818/board/Kconfig"

endmenu


